img {
  width:100%;
}

#sidebar {
 border-right: 1px solid #A7D7F9;
 background-color: #F6F6F6;
 float: left;
 width:180px;
}

.nav-list{
  margin-left: 20px;
  color:#0645AD;
  font-size:12px;
  line-height: 18px;
}

.nav-list h4{
  font-size: 12px;
  border-top:1px solid #D8D8D8;
  width:140px;
  padding-top: 10px;
  color:#4D4D4D;
}

.list-unstyled{
  padding-left: 5px;
}
.blue{
  color:#0645AD;
  background: linear-gradient(#f6f6f6, #EAF4F8);
  margin-left: -5px;
}
.well {
  height:150px;
}

.welmessage h1{
  font-size:18px;
  margin-top: -5px;
}

.header {
  height: 100px;
}

.tab {
  font-size: 12px;
}

.right-tab ul {
  float:right;
  margin-right: -180px;
  margin-top: 50px;
}

.left-tab ul {
  float:left;
  margin-top: 50px;
}
.header ul {
  display:flex;
}
.menu {
  float: right;
}


.menu-two ul{
  display:flex;
}

.menu-two ul p{
  border-right: 1px solid #A7D7F9;
  padding-right: 10px;
  height:30px;
}

.header ul li {
  padding-left: 10px;
}

.header {
  background-color: #f6f6f6;
  height:80px;
}

.greencol .panel-body{
  background-color:#f5fffa;
}

.bluecol .panel-body {
  background-color: #F5FAFF;
}

.greencol .panel-heading {
  background-color: #CEF2E0;
}

.bluecol .panel-heading {
  background-color: #CEDFF2;
}
